@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/inter.css);

.page {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #202020;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 400;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.content {
  min-height: 100vh;
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 70px;
}

.section_type_main {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 70px;
}

.link {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: white;
}

.link:hover {
  opacity: 0.7;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.image {
  object-fit: cover;
  object-position: center;
}

.title_type_main {
  width: 100%;
  padding-bottom: 23px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.22;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #dadada;
}

@media screen and (max-width: 1024px) {
  .section {
    padding: 0 30px;
  }

  .section_type_main {
    padding: 0 50px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 0 14px;
  }

  .section_type_main {
    padding: 0 14px;
  }

  .title_type_main {
    padding-bottom: 28px;
    font-size: 18px;
  }
}
