.nav-tab {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
}

.nav-tab__links {
  display: flex;
}

.nav-tab__links-item {
  margin: 0 40px 0 0;
}

.nav-tab__links-item:last-child {
  margin: 0;
}

.nav-tab__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  text-decoration-line: underline;
}

@media screen and (max-width: 768px) {
  .nav-tab__links-item {
    margin: 0 24px 0 0;
  }

  .nav-tab__link {
    font-size: 11px;
  }
}
